<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402889400135-fa5h4ljl3agdj4663qhf1kj1qdv71bt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402889400135-fa5h4ljl3agdj4663qhf1kj1qdv71bt5</string>
	<key>API_KEY</key>
	<string>AIzaSyAsmVKpf8f1Mid6gL3NjXB1PrpAx8fO0Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>402889400135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dghub.semper</string>
	<key>PROJECT_ID</key>
	<string>dghub-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dghub-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402889400135:ios:c2fa6be966a9c3f274b662</string>
</dict>
</plist>